*~
*.so
*.o
*.lo
*.la
*.tar.gz
*.user
*.orig
*.autosave
*.qm
qrc_*
moc_*
Makefile
autom4te.cache
config.h
config.log
config.status
libtool
.deps
.libs
.dirstamp
stamp-h1

build/
build-debug/
build-release/
build-tests/
build-alterpcb-tlinesim-Desktop-Debug/
build-alterpcb-tlinesim-Desktop-Release/
src/alterpcb-tlinesim

private-*
